html{
    background-color: black;
}
.sj{
     width: 50%;
     margin-left: 25%;
     margin-top: 100px;
     color: aliceblue;
     text-align: center;
     font-family: "Open Sans", sans-serif;
     font-size: x-large;
}
.npd{
    border: 10px solid white;
   width: 30%;

}

